<div class="food_nav">
	<%= link_to image_tag("res_logo.png"), root_path %>
	<ul class="rnav">
		<li><%= link_to 'Menu', foods_path %></li>
	</ul>
</div>
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.3739715813754!2d106.70218811424611!3d10.782642862028743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f495cbd1fe5%3A0x89a899357859273c!2zMjEgTmd1eeG7hW4gVHJ1bmcgTmfhuqFuLCBC4bq_biBOZ2jDqSwgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1449314197262" width="600" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	<div class="contactContent">
		<h2>CONTACT US</h2>
		<table>
			<tr>
				<th>Address</th>
				<td>
					21 Nguyen Trung Ngan, District 1<br/>
					Ho Chi Minh city, Viet Nam
				</td>
			</tr>
			<tr>
				<th>Phone number</th>
				<td>
					0912345678
				</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>
					<a href="">coderrestaurant@gmail.com
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>